<%= paginator.render do -%>
  <table>
    <tbody class="pagination">
      <tr>
        <td><%= first_page_tag unless current_page.first? %></td>
        <td><%= prev_page_tag unless current_page.first? %></td>
        <td><%= next_page_tag unless current_page.last? %></td>
        <td><%= last_page_tag unless current_page.last? %></td>
      </tr>
    </tbody>
  </table>
<% end -%>
